SONARQUBE_PORT=9000
SONARQUBE_DB_PORT=5433

SONARQUBE_DB_NAME=sonarqube
SONARQUBE_DB_USER=sonarqube
SONARQUBE_DB_PASSWORD=sonarqube

SONAR_HOST_URL=http://host.docker.internal:9000
SONAR_TOKEN=replace_with_your_sonar_token
